      	<!-- inicio menu lateral-->
	  	<nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="index.html">
            <span class="align-middle">RemuWEB</span>
          </a>

          <ul class="sidebar-nav">
            <li class="sidebar-header">Remuneraciones</li>
            <li class="sidebar-item active">
              <a class="sidebar-link" href="/remuneraciones/afp">
                <i class="align-middle" data-feather="sliders"></i>
                <span class="align-middle">Afp</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/asignacion-familiar">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Asignación Familiar</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/empresa">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Empresa</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/impuesto-segunda-categoria">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Impuesto Seg. Categoria</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/renta-imponible">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Renta Imponible</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/salud">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Salud</span>
              </a>
            </li>                                    
          
            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/seguro-cesantia">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Seguro Cesantia</span>
              </a>
            </li>           
          
            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/tipo-contrato">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Tipo Contrato</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/topes-imponibles">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Topes Imponibles</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/remuneraciones/trabajador">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Trabajador</span>
              </a>
            </li>
            
            <li class="sidebar-item">
              <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link" aria-expanded="true">
                <span class="align-middle">Remuneraciones</span>
              </a>
              <ul id="pages" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar" style="">
                <li class="sidebar-item text-middle"><a class="sidebar-link" href="#">Nomina Mensual</a></li>
                <li class="sidebar-item text-middle"><a class="sidebar-link" href="#">Liquidaciones</a></li>
              </ul>
            </li>           
          
          </ul>
        </div>
      	</nav>
		<!-- fin menu lateral-->