<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="../img/icons/icon-48x48.png" />
    <link rel="canonical" href="https://demo-basic.adminkit.io/" />
    <title>Remuneraciones</title>
    <link href="/css/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <!-- inicio menu lateral-->
        {{> menuLateral }}
      <!-- fin menu lateral-->

      <div class="main">
        <!-- inicio menu superior-->
        {{> menuSuperior }}
		    <!-- fin menu superior-->
		
		<!-- inicio contenido principal-->		
        <main class="content">
          <div class="container-fluid p-0">
            <!-- inicio tablas-->
            <div class="row">
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Tipo Contrato</h5>
                        </div>
                        <table class="table table-bordered" >
                            <thead class="text-center">
                                <tr>
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{ nombre }}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- inicio tablas-->
        </div>
        </main>
		<!-- fin contenido principal-->	
      </div>
    </div>

    <script src="/js/app.js"></script>

  </body>
</html>
