<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="../img/icons/icon-48x48.png" />
    <link rel="canonical" href="https://demo-basic.adminkit.io/" />
    <title>Remuneraciones</title>
    <link href="../../css/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <!-- inicio menu lateral-->
        {{> menuLateral }}
      <!-- fin menu lateral-->

      <div class="main">
        <!-- inicio menu superior-->
        {{> menuSuperior }}
		    <!-- fin menu superior-->
		
		<!-- inicio contenido principal-->		
        <main class="content">
          <div class="container-fluid p-0">
			    

          <!-- inicio afp-->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="m-sm-3">
                    <form>
                      <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input class="form-control form-control-lg" type="email" name="email" placeholder="" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Tasa dependientes</label>
                        <input class="form-control form-control-lg" type="text" name="rut" placeholder="" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">SIS</label>
                        <input class="form-control form-control-lg" type="text" name="representante" placeholder="" />
                      </div>	
                      <div class="mb-3">
                        <label class="form-label">Tasa independientes</label>
                        <input class="form-control form-control-lg" type="text" name="telefono" placeholder="" />
                      </div>	
                      <div class="d-grid gap-2 mt-3">
                        <a href="#" class="btn btn-primary">Registrar</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
         



        </div>
        </main>
		<!-- fin contenido principal-->	

      </div>
    </div>

    <script src="../js/app.js"></script>

  </body>
</html>
