<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="../img/icons/icon-48x48.png" />
    <link rel="canonical" href="https://demo-basic.adminkit.io/" />
    <title>Remuneraciones</title>
    <link href="/css/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <!-- inicio menu lateral-->
        {{> menuLateral }}
      <!-- fin menu lateral-->

      <div class="main">
        <!-- inicio menu superior-->
        {{> menuSuperior }}
		    <!-- fin menu superior-->
		
		<!-- inicio contenido principal-->		
        <main class="content">
          <div class="container-fluid p-0">
            <!-- inicio tablas-->
            <div class="row">
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Lista AFP</h5>
                        </div>
                        <table class="table table-bordered" >
                            <thead class="text-center">
                                <tr>
                                    <th>Tramo</th>
                                    <th>Monto</th>
                                    <th>Requisito</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{ nombre }}</td>
                                    <td class="d-none d-xl-table-cell text-end">{{ tasa_dependientes }} %</td>
                                    <td class="d-none d-xl-table-cell text-end">{{ sis }} %</td>
                                    <td class="d-none d-xl-table-cell text-end">{{ tasa_independientes}} %</span></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{!-- <div class="mb-3">
                    <a href="afp/add" class="btn btn-primary">Nuevo</a>
                </div> --}}
            </div>
            <!-- inicio tablas-->
        </div>
        </main>
		<!-- fin contenido principal-->	
      </div>
    </div>

    <script src="/js/app.js"></script>

  </body>
</html>
    {{!-- 
    _id: new ObjectId("64fbdc1ebd95ab28e12b4026"),
    nombre: 'Modelo',
    tasa_dependientes: 11.45,
    sis: 1.86,
    tasa_independientes: 13.31,
    deleted: false,
    createdAt: 2023-09-09T02:42:22.343Z,
    updatedAt: 2023-09-09T02:42:22.343Z, --}}